# ======================
# Python
# ======================
__pycache__/
**/__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
env/

# Databases
*.db
*.sqlite3

# Runtime / temp files
temp/

# Environment variables
.env

# ======================
# Editors & OS
# ======================
.vscode/
.DS_Store
